p {
    color: yellow;
    text-align: center;
    
}
body {
    background-color: rgb(56, 188, 250);
}
h1 {
    border-style: double;
    border-width: thick;
    text-transform: uppercase;
    text-align: center;
}